version: "2"

services:

  resolver:
    build: ./RESOLVER/.
    ports:
      - 53:53
    networks:
      interne:
          ipv4_address: 172.16.0.1
    volumes:
      - ./RESOLVER/named.conf:/etc/bind/named.conf
    container_name: resolver
    command: "named -c /etc/bind/named.conf -g"

  soa-int:
    build: ./SOA-INTERNE/.
    networks:
      interne:
          ipv4_address: 172.16.0.2
    volumes:
      - ./SOA-INTERNE/named.conf:/etc/bind/named.conf
      - ./SOA-INTERNE/intranet.ephec-ti.be:/etc/bind/master/intranet.ephec-ti.be
      - ./SOA-INTERNE/0.16.172.in-addr.arpa:/etc/bind/master/0.16.172.in-addr.arpa
      - ./SOA-INTERNE/resolv.conf:/etc/resolv.conf
    container_name: soa-int
    dns:
      - 172.16.0.1
    command: "named -c /etc/bind/named.conf -g"
  
  database:
    build: ./DB/.
    command: --default-authentication-plugin=mysql_native_password

    ports: 
      - 5000:3306
    networks:
      interne:
          ipv4_address: 172.16.0.4
    volumes:
      - ./DB/db.sql:/data/
    environment:
      MYSQL_ROOT_PASSWORD: wtl2

    container_name: database

  erp:
    build: ./ERP/.
    networks:
      interne:
          ipv4_address: 172.16.0.3
    ports:
      - 80:80
      - 443:443

    container_name: erp

networks:

  interne:
      ipam:
          driver: default
          config:
              - subnet: 172.16.0.0/24
                gateway:  172.16.0.254
